html,
body {
  margin: 0;
  padding: 0;
}

.App{
  width: 100%;
  display: grid;
  grid-template-areas:
          "header header header"
          "navbar main_content main_content"
          "footer footer footer";
  grid-template-columns:250px 80% ;
}